<div class="container mb-2">
    <p> <strong> Product Name: </strong> <%= link_to product.name, product, class: "text-blue-500 hover:text-blue-800" %></p>
    <p> <strong> Product Description: </strong> <%= product.description %></p>
</div>