<h1><%= @product.name %></h1>

<div>
    <p><%= @product.description %></p>
    <p><%= @product.price %></p>
    <br>
    <%= button_to "Add Item to cart", add_cart_items_path(@product.id), method: :post, class: 'text-blue-500 hover:text-blue-800' %>
</div>